@font-face {
    font-family: "Rubik";
    src: url("/fonts/rubik/Rubik-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Fredoka";
    src: url("/fonts/Fredoka/static/Fredoka-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Fredoka-Light";
    src: url("/fonts/Fredoka/static/Fredoka-light.ttf") format("truetype");
    font-weight: light;
    font-style: light;
}
